# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/videoer/color_correction.mp4
/videoer/Ingolfs_færdig copy.mp4
/videoer/keying.mp4
/videoer/klipning.mp4
/videoer/pilot.mp4
