body {
    margin: 0;
    background-color: var(--color-antic);
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

img {
    width: 100%;

}

.navbar {
    display: none;
}

#info {
    padding: 60px 40px 30px 40px;
    text-align: center;
}

/***********ROOT***********/
:root {
    --color-lightblue: #aed9e6;
    --color-antic: #e2e2e2;
    --color-hover: #0e85e5;
    --color-blue: #9cabc3
}


/***********FONT***********/
p {
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    width: 100%;
    word-spacing: 10px;
}

b {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    width: 100%;
    word-spacing: 10px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
    width: 100%
}

h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    width: 100%
}

h3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6em;
    width: 100%
}

a {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    width: 100%;
    text-decoration: none;
    color: black;
}


/***********MENU 1***********/
.left_aligned {
    float: left;
    word-spacing: 1px;
    padding-left: 5vw
}

header {
    background-color: var(--color-lightblue);
    position: fixed;
    width: 100%;
    height: 80px;
}

.navbar {
    text-align: right;
    margin: 1vw 4vw 2vw 0;
    padding-top: 5px;
    word-spacing: 10px
}

.navbar a {
    text-decoration: none;
    color: #173a4d;
    font-size: 30px;
}


.navbar a:hover {
    color: #0e85e5;
    cursor: pointer;

}

/***********MENU 2***********/
.hidden {
    transform: scale(0);
}

#menuknap {
    display: inline-block;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;

}

#menu {
    list-style-type: none;
    transform-origin: top left;
    background-color: var(--color-lightblue);
    padding-left: 0px;
    width: 46vw;
    font-size: 23px;

}



/***********FORSIDE***********/


#splash {
    padding-top: 34px;
    display: inline-block;

}

/***********IMAGE***********/

.image img {
    width: 100%;
    border: 2px solid white;
}

.image {
    margin-top: 20px;
    flex-grow: 1;
    flex-basis: 200px;
}

.column img {
    width: 100%;
}

/***********CV************/

#cv {
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}

#cv .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#cv .column {
    flex-grow: 1;
    flex-basis: 250px;

}


#cv .column_wide {
    flex-grow: 2;
    flex-basis: 300px;

}

#cv img {
    border-radius: 50%;
}

h2 {
    text-align: center;
}

/**********PORTOFOLIE**********/
.porth1 {
    font-size: 20px;
    text-align: center;
}

.portofolieflex {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.portofolieflex a {
    flex-grow: 1;
    flex-basis: 300px;
}

.portofolieflex img {
    width: 100%;
    transition: all 0.5s ease;
    padding: 10px;

}



/**********American Magazine**********/

.am_flex img {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 9px;
}

/**********PILOT**********/

video {
    width: 100%;
}

.txt_pilot_1 {
    flex-basis: 400px;
    flex-grow: 1;
    padding-right: 2vw;
}

.pilot_videoer {
    flex-basis: 200px;
    flex-grow: 1;
}

.pilot_sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
}


/**********INFOLFS KAFFEBAR**********/
.knap {
    background-color: var(--color-lightblue);
    display: inline-block;
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px
}

.anden {
    align-items: center;
}

/**********FOOTER**********/
footer,
footer p {
    background-color: var(--color-lightblue);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    padding: 10px;
    height: 55px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    outline: none;
    background-color: var(--color-lightblue);
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
    width: 82px;
    height: 50px;
    background-size: 80px;
}

#myBtn:hover {
    background-color: #000234;
}

/**********desktop**********/

@media only screen and (min-width: 730px) {
    header {
        position: absolute;
    }

    .burgermenu {
        display: none;
    }

    .navbar {
        display: block;
    }


    #splash {
        width: 100vw;
        margin-left: -10px;
        display: block;
        padding-top: 80px
    }

    #cv {
        padding: 70px;
    }

    video {
        width: 100%;
    }

    #info {
        padding: 90px 90px 30px 90px;
        text-align: center;
    }

    .am_flex img {
        width: 70%;
    }

    .porth1 {
        font-size: 30px;
        text-align: center;
    }

    .portofolieflex {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .portofolieflex a {
        flex-grow: 1;
        flex-basis: 300px;
    }


    .portofolieflex img:hover {
        transform: scale(1.04);
        opacity: 1;
    }

    .mappe img {
        opacity: 0.5;
    }


    .bund img {
        width: 40%;
    }

}
